<div class="custombox clearfix">
  <h4 class="small-title">Add Article</h4>
  <div class="row">
      <div class="col-lg-12">
          <form class="form-wrapper">
              <a href="#" title="">
                  <img [src]="'assets/images/author.jpg'" alt=""
                      class="img-edit">
              </a>
              <h2>file loader not worked</h2>
              <input type="text" class="form-control" placeholder="Blog Name" name="name" [(ngModel)]="newArticle.name">
              <input type="text" class="form-control" placeholder="Blog Short Description"
               name="shortDescription" [(ngModel)]="newArticle.shortDescription">
              <textarea type="text" class="form-control" placeholder="Blog Text"
              name="text" [(ngModel)]="newArticle.text"></textarea>
              <label  for="sel1">Category:</label>
             <select  (change)="setCategory($event.target.value)" name="sel1">
               <option *ngFor="let category of categories" >{{category.name}}</option>
              </select>
                <app-tagsInput (tagsChangeEvents)="addTag($event)" class="form-control" name="tags"></app-tagsInput>
              <button type="button" class="btn btn-primary" (click)="Add()">Add</button>
          </form>
      </div>
  </div>
</div>