<app-main (filtered)="filterCategories($event)" (logged)="checkLogin($event)"></app-main>

<div class="container">
    <h2 *ngIf="isFilter"><i class="fa fa-search bg-green"></i> Category by: {{filteredCategories[0].name}}</h2>
</div>
<div *ngIf="isLogged">
    <button (click)="createMode = !createMode" class="btn btn-primary" *role="['contentRedactor','admin']">Create article</button>
</div>
<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-6 col-xs-12">

                <app-addArticle *ngIf="createMode" (creationFinished)="createBlog($event)"></app-addArticle>

                <div class="custombox clearfix" *ngIf="editMode">
                    <h4 class="small-title">Edit Article</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="form-wrapper">
                                <a href="#" title="">
                                    <img [src]="editBlog.icon?.path ? editBlog.icon.path : 'assets/images/author.jpg'"
                                        alt="" class="img-edit">
                                </a>
                                <h2>file loader not worked</h2>
                                <app-uploadFile (fileObj)="setFile($event)"></app-uploadFile>
                                <input type="text" class="form-control" placeholder="Blog Name"
                                    [(ngModel)]="editBlog.name" name="name">
                                <input type="text" class="form-control" placeholder="Blog Short Description"
                                    [(ngModel)]="editBlog.shortDescription" name="shortDescription">
                                <textarea type="text" class="form-control" placeholder="Blog Text"
                                    [(ngModel)]="editBlog.text" name="text"></textarea>
                                <button type="submit" class="btn btn-primary" (click)="editArticle()">Edit</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="page-wrapper">
                    <div class="blog-list clearfix" *ngFor="let category of filteredCategories">
                        <div class="blog-box row "
                            *ngFor="let blog of category.articles | paginate:{itemsPerPage:5,currentPage:page,id:'1'}  | filter :{name:selectedOption,filt:filt}">

                            <div class="col-md-4">
                                <div class="post-media">
                                    <a [routerLink]="['article',blog.articleID]" title="">
                                        <img [src]="blog.icon?.path ? blog.icon.path : 'assets/images/author.jpg'"
                                            alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div>
                            </div>

                            <div class="blog-meta big-meta col-md-8">
                                <div class="admin-set" *role="['ContentRedactor']">
                                    <a href="#" (click)="deleteBlog(blog)">
                                        <h5>Delete</h5>
                                    </a>
                                    <a href="#" (click)="goToEditBLog(blog)">
                                        <h5>Edit</h5>
                                    </a>
                                </div>
                                <span class="bg-aqua" *ngFor="let tag of blog.tags"><a href=""
                                        title="">{{tag.name}}</a></span>
                                <h4><a [routerLink]="['article',blog.articleID]" title="">{{blog.name}}</a></h4>
                                <p>{{blog.shortDescription}}</p>
                            </div>

                        </div>
                        <hr class="invis">
                    </div>
                </div>
                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <pagination-controls (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true"
                            autoHide="true">
                        </pagination-controls>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <h3>Search By</h3>
                        <hr />
                        <div class="form-group">
                            <select class="selectpicker" data-live-search="true" [(ngModel)]="selectedOption"
                                (change)="changeFilterDate()">
                                <option>Title Name</option>
                                <option>Date</option>
                            </select>
                        </div>
                        <form class="form-inline search-form" [formGroup]="form">
                            <my-date-range-picker *ngIf="isDate" name="mydateRange"
                                (dateRangeChanged)="onDateRangeChanged($event)" formControlName="date">
                            </my-date-range-picker>
                            <div class="form-group" *ngIf="!isDate">
                                <input type="text" class="form-control" placeholder="Search on the site"
                                    formControlName="text" [(ngModel)]="filt">
                            </div>
                            <button *ngIf="!isDate" type="submit" class="btn btn-primary"><i
                                    class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>