<app-main></app-main>
<section class="section wb">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <div class="page-wrapper">
          <div class="blog-title-area">
            <span class="color-green"><a  title="">{{blog?.categoryName}}</a></span>

            <h3>{{blog?.name}}</h3>

            <div class="blog-meta big-meta">
              <small><a  title="">21 July, 2017</a></small>
              <small><a  title="">by Artyom</a></small>
            </div><!-- end meta -->
          </div><!-- end title -->

          <!-- <div class="single-post-media">
            <img src="upload/garden_single_01.jpg" alt="" class="img-fluid">
          </div>end media -->


          <div class="blog-content">
            <div class="pp">
              <p>{{blog?.text}}</p>


            </div><!-- end pp -->
          </div><!-- end content -->
          <div class="blog-title-area">
              <div class="tag-cloud-single">
                  <span>Tags</span>
                  <small *ngFor="let tag of blog?.tags"><a href="#" title="">{{tag?.name}}</a></small>
              </div><!-- end meta -->
          </div><!-- end title -->
        </div>
      </div>
      </div>
      </div>
</section>