<label >
 
  <span *ngFor="let tag of tags" >
    <span class="tag__label">
      {{ tag }}
    </span>
    <span (click)="removeTag(tag)">
      &times;
    </span>
  </span>

  <input
    type="text"
    #name
    placeholder="Add tag..."
    (keydown.enter)="addTag( name.value ) ; name.value = '' ;"
  />

</label>