<div class="file-load">   
        <label class="label" >
              <i class="fa fa-file-text-o"></i>
        <span class="title">Sry,Not Worked</span>
              <input  type="file">
            </label>
</div>