<form [formGroup]="form" (ngSubmit)="register()">
  <div class="login">
    <div>
      <p>Register</p>
    </div>
    <input type="text" placeholder="Name" name="name" formControlName="name">
    <input type="text" placeholder="Surname" name="surname" formControlName="surname">
    <input type="text" placeholder="Login" name="username" formControlName="username">
    <input type="text" placeholder="Password" name="password" formControlName="password">
    <button href="#" class="login-btn" type="submit" [disabled]="form.invalid">Register</button>
  </div>
</form>