<app-main></app-main>
<button type="button"   class="btn btn-success my-2 my-sm-0" *ngIf="byCategory"  (click)="byCategory = !byCategory">Tags</button>    
<button type="button"   class="btn btn-success my-2 my-sm-0" *ngIf="!byCategory"  (click)="byCategory = 'true'">Categories</button>    
 
<table class="table table-condensed table-hover" *ngFor="let item of (byCategory?categories:tags)">
  <thead>
    <tr>
      <th *ngIf="!byCategory">tag Name</th>
      <th *ngIf="byCategory">Category Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{item.name}}</td>
      <td><a class="btn btn-info">
          <span class="glyphicon glyphicon glyphicon-pencil"></span>
          Edit
        </a> | <a  class="btn btn-danger" (click)='delete(item)'>
          <span class="glyphicon glyphicon glyphicon-remove"></span>
          Delete
        </a></td>

    </tr>
  </tbody>
</table>
<app-editElement></app-editElement>