<div id="wrapper">
  <div class="topbar-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12"   >

          <div class="topsearch text-right" *ngIf="!isLogged">
            <a (click)="isLogin = !isLogin;isReg = false"  class="cursor-pointer"><i class=" fa fa-sign-in"></i>Login</a>
            <a (click)="isReg = !isReg;isLogin = false" class="cursor-pointer"><i></i>Register</a>
          </div>
          <div class="topsearch text-right" *ngIf="isLogged" >
              <a class="home" [routerLink]="['']" >Home</a>
              <a class="home" [routerLink]="['admin']" *role="['admin']">Admin</a>
            <button type="button"  class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Welcome {{name}}
            </button>
            <div class="dropdown-menu topsearch text-right">
              <a class="dropdown-item nav-link" (click)="logOut()">LogOut</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-inverse navbar-toggleable-md">
  <div class="collapse navbar-collapse justify-content-md-center">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link color-red-hover" href="#" (click)="filter('all')">All</a></li>
      <li class="nav-item cursor-pointer" *ngFor="let category of categories | uniqueFilter" (click)="filter(category.name)">
        <a class="nav-link color-red-hover">{{category.name}}</a>
      </li>

    </ul>
  </div>
</nav>
<app-register (Logged)="register($event)" *ngIf="isReg && !isLogin"></app-register>
<app-login (Logged)="login($event)" *ngIf="!isReg && isLogin"></app-login>