<form [formGroup]="form" (ngSubmit)="login()">
  <div class="login">
    <div >
        <p>Login</p>
  </div>
    <input type="text" placeholder="Login" name="username" formControlName="username">
    <div  style="color: red;text-align: -webkit-left;
    margin-left: 64px;" [hidden]="form.get('username').valid || form.get('username').untouched">
      <small>Please enter login</small>
    </div>
    <input type="text" placeholder="Password" name="password" formControlName="password">
    <div  class="validation" [hidden]="form.get('username').valid || form.get('username').untouched">
      <small>Please enter password</small>
    </div>  
    <button href="#" class="login-btn" [disabled]="form.invalid" type="submit">Login</button>
  </div>
  </form>