
  
h1,
h2,
h3,
h4,
h5,
body,
p,
.topbar-section,
.navbar-inverse .navbar-nav .nav-link,
.header .dropdown-menu,
.navbar-nav .nav-link {
    font-family: 'Droid Sans', serif !important;
}

.topbar-section {
	border:0;
}
.cursor-pointer:hover{
  cursor: pointer;
}
.blog-list .blog-meta.big-meta h4 {
    margin-left: 0;
    margin-top: 0;
    padding: 1rem 0;
}

.footer {
	background-image: none;
}

.blog-list-widget .mb-1 {
	font-weight: bold;
}

.newsletter-widget .form-inline .form-control {
	height: 54px;
}

.dropdown-menu {
	border:0;
}

.navbar-inverse .navbar-nav .nav-link, .navbar-nav .nav-link {
	font-weight: 400;
}

.blog-meta span {
    background-color: #111111;
    border-radius: 3px;
    font-size: 12px;
    padding: 0.1rem 1rem;
}

#map {
    height: 400px;
    position: relative;
    width: 100%;
    z-index: 1;
}

#map img {
    max-width: inherit;
}

.loader {
    margin-left: 10px;
}

.map {
    position: relative;
}

.map .row {
    position: relative;
}

.infobox img {
    width: 100% !important;
}

.map .searchmodule {
    padding: 18px 10px;
}

.infobox {
    display: block;
    margin: 0;
    padding: 0 0 10px;
    position: relative;
    width: 260px;
    z-index: 100;
}

.infobox .title {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 15px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.header .dropdown-item:hover,
.header .dropdown-item:focus,
.blog-meta span,
.blog-meta span a,
.footer p,
.footer a,
.page-link,
.page-link:hover,
.topbar-section a:hover,
.topbar-section a:focus,
.topbar-section a,
.topbar-section i {
	color:#ffffff !important; 
}

.footer {
	background-color: #000000 !important;
}

.small-title,
.page-title .bg-green, .masonry-box:hover .blog-meta span.bg-green, .color-green a,
.navbar-toggler,
.masonry-box:hover .blog-meta span.bg-aqua,
.blog-meta span.bg-aqua,
.search-form .btn:hover, .search-form .btn:focus, .search-form .btn,
.btn,
.btn:hover,
.dropdown-item:hover,
.dropdown-item:focus,
.btn:focus,
.dmtop,
.page-link,
.login,
.topbar-section,
.ng2-pagination .current {
	color:#ffffff !important;
	background-color: #A66600 !important;
	border-color: #A66600 !important;
}


.authorbox p a,
.pp a,
a:hover,
a:focus,
.footer .fa:hover,
.footer a:hover,
.navbar-nav .nav-link.active.color-green-hover,
.navbar-nav .nav-link.color-green-hover:hover,
.navbar-nav .nav-link.color-green-hover:focus {
    color: #74a044 !important;
}

  .login{
    border-radius: 10px;
    width: 580px;
    height: 320px;
    margin:20px auto;
    text-align:center;
  }
  .login p{
    font-size: 20px;
    font-family: "Myriad Pro";
    color: rgb(125, 80, 243);
    text-transform: uppercase;
    line-height: 3.285;
    padding-top: 6px;
  }

  input.ng-touched.ng-invalid {border:solid red 2px;}
  input.ng-touched.ng-valid {border:solid green 2px;}

  .login input{
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    width: 450px;
    height:40px;
    margin-bottom: 10px;
    padding: 1px 4px;
  }
   .login input::placeholder {
    font-size: 16px;
    padding-left: 24px;
    font-family: "Myriad Pro";
    color: rgb(107, 94, 141);
     }
     .login-btn{
        border-radius: 10px;
        background-color: rgb(106, 53, 245);
        opacity: 0.7;
        width: 252px;
        height: 62px;
        margin: auto;
        display:block;
          text-decoration: none;
        font-size:24px;
        font-family: "Myriad Pro";
        color: rgb(255, 255, 255);
        line-height: 2.585;
      }
      .validation{
        color: red;
        text-align: -webkit-left;
        margin-left: 64px;
      }
      .bg-aqua{
          margin-right:4px !important;
      }
      .admin-set h5{
        display: flex;
       float: right;
       margin-right: 16px;
       word-spacing: 2px;
      }
      .img-edit{
          margin-bottom: 20px;
          width:80%;
      }
.home{
    font-weight: bold;
}